@model CourierManagementSystem.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<div class="patientprofile">
    <div class="row">
        <div class="col-md-4 box">
            <div class="well">
                <img src="@Model.image" class="doc-img">
                <div class="btn-group">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editimage"><i class="fa fa-picture-o"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editpass"><i class="fa fa-key"></i></button>
                </div>
                <h3>@Model.UserName</h3>
                <h3 style="color:red">@TempData["errmsg"]</h3>
                <p></p>
            </div>
        </div>


        <div class="col-md-8 box">
            <h1>Personal Information</h1>
            <table class="table">

                <tbody>
                    <tr>

                        <td>Username</td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>

                        <td>Email</td>
                        <td>@Model.EmailAddress</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="editimage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action=" " method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Picture</label>
                            <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="imgUpdate">Upload</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editpass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="admin/updatePassword" method="POST">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.EmailAddress)
                        @Html.HiddenFor(model => model.UpdatedDate)
                        @Html.HiddenFor(model => model.UserType)
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.image)
                        <div class="form-group">
                            <label for="pass">Current Password</label>
                            <input type="password" class="form-control" name="currentPass">
                            <span style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="npass">New Password</label>
                            <input type="password" class="form-control" name="password">
                            <span style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="cPass">Confirm Password</label>
                            <input type="password" class="form-control" name="cPass">
                            <span style="color:red;"></span>
                        </div>
</div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="passUpdate">Update</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>