@model IEnumerable<CourierManagementSystem.Models.Product>
@{
    ViewBag.Title = "receivedProduct";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="donorlist">

    <h1 class="text-white bg-dark text-center">
        Receive From Customers
    </h1><br>

    <div class="row ">

        <table class="table" id="myTable">
            <thead>
                <tr>
                    <td>Sending Branch</td>
                    <td>Receiving Branch</td>
                    <td>Sending Date</td>
                    <td>Reciever Name</td>
                    <td>Address</td>
                    <td>Reciever Contact</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <div class="col-md-8">
                    @foreach (var item in Model)
                    {
                        if (item.Sending_B_id == (int)TempData["bid"]  && item.Product_State == 0)
                        {
                            <tr>
                                <td>@item.Branch.Branch_Name</td>
                                <td>@item.Branch1.Branch_Name</td>

                                <td>@item.UpdatedDate</td>

                                <td>@item.RecieverName</td>

                                <td>@item.RecieverAddress</td>
                                <td>@item.RecieverContact</td>
                                <td>@Html.ActionLink("View", "ViewProduct", new { id = item.Id}, new { @class = "btn btn-warning" })</td>
                            </tr>
                        }
                    }
                </div>
            </tbody>
        </table>
    </div>
</div>

<br>
<br>
<h1 class="text-white bg-dark text-center">
    Recieved From other Branch
</h1>
<br>

<div class="row ">

    <table class="table" id="myTable">
        <thead>
            <tr>
                <td>Sending Branch</td>
                <td>Receiving Branch</td>
                <td>Sending Date</td>
                <td>Reciever Name</td>
                <td>Address</td>
                <td>Contact Number</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <div class="col-md-8">
                @foreach (var item in Model)
                {
                    if (item.Receiving_B_id == (int)TempData["bid"] && item.Product_State == 2)
                    {
                        <tr>
                            <td>@item.Branch.Branch_Name</td>

                            <td>@item.Branch1.Branch_Name</td>

                            <td>@item.UpdatedDate</td>

                            <td>@item.RecieverName</td>

                            <td>@item.RecieverAddress</td>

                            <td>@item.RecieverContact</td>
                            <td>@Html.ActionLink("View", "ViewProduct", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                        </tr>
                    }
                }
</tbody>
    </table>
</div>