@model IEnumerable<CourierManagementSystem.Models.Product>
@{
    ViewBag.Title = "serviceHistory";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="donorlist">

    <h1 class="text-white bg-dark text-center">
        Sent products
    </h1><br>

    <div class="row ">

        <table class="table" id="myTable">
            <thead>
                <tr>
                    <td>Sending Branch</td>
                    <td>Receiving Branch</td>
                    <td>Sending Date</td>
                    <td>Reciever Name</td>
                    <td>Address</td>
                    <td>Product State</td>
                </tr>
            </thead>
            <tbody>
                <div class="col-md-8">
                    @foreach (var item in Model)
                    {
                        if (item.Sending_Manager_id == (int)Session["uid"])
                        {
                        <tr>
                            <td>@item.Branch.Branch_Name</td>
                            <td>@item.Branch1.Branch_Name</td>

                            <td>@item.UpdatedDate</td>

                            <td>@item.RecieverName</td>

                            <td>@item.RecieverAddress</td>
                            @if (item.Product_State == 1)
                            {
                                <td>
                                    Received
                                </td>
                            }
                            else if (item.Product_State == 2)
                            {
                                <td>
                                    Shipped
                                </td>
                            }
                            else if (item.Product_State == 3)
                            {
                                <td>
                                    Sent_to_destination
                                </td>
                            }
                            else if (item.Product_State == 4)
                            {
                                <td>
                                    Released
                                </td>
                            }
                        </tr>
                        }
                    }
                    </div>
</tbody>
        </table>
    </div>
</div>

<br>
<br>

<h1 class="text-white bg-dark text-center">
    Recieved Products
</h1>
<br>
<div class="row ">

    <table class="table" id="myTable">
        <thead>
            <tr>
                <td>Sending Branch</td>
                <td>Receiving Branch</td>
                <td>Sending Date</td>
                <td>Reciever Name</td>
                <td>Address</td>
                <td>Product State</td>
            </tr>
        </thead>
        <tbody>
            <div class="col-md-8">
                @foreach (var item in Model)
                {
                    if (item.Receiving_Manager_id == (int)Session["uid"])
                    {
                        <tr>
                            <td>@item.Branch.Branch_Name</td>
                            <td>@item.Branch1.Branch_Name</td>

                            <td>@item.UpdatedDate</td>

                            <td>@item.RecieverName</td>

                            <td>@item.RecieverAddress</td>
                            @if (item.Product_State == 1)
                            {
                                <td>
                                    Received
                                </td>
                            }
                            else if (item.Product_State == 2)
                            {
                                <td>
                                    Shipped
                                </td>
                            }
                            else if (item.Product_State == 3)
                            {
                                <td>
                                    Sent_to_destination
                                </td>
                            }
                            else if (item.Product_State == 4)
                            {
                                <td>
                                    Released
                                </td>
                            }
                        </tr>
                    }
                }
            </div>
        </tbody>
    </table>

